<ion-header>
  <ion-toolbar class="newbackgroundcolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/agenda-details"></ion-back-button>
    </ion-buttons>
    <ion-title class="lable-title">
         {{eventDetails.type}}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="newbackgroundcolor">
    <ion-grid>
      <ion-row>
       <ion-col size="3" style="align-self: center;">
        <img class="round_Image" src="../../../assets/imgs/exl_placeholder.png"/>
       </ion-col>
       <ion-col size="6" style="text-align: center; font-size: 1.7rem; align-self: center;"><div>{{eventDetails.EventTitle}}</div></ion-col>
       <ion-col style="align-self: center;" size="3">
         <div class="event-date">{{startDate | date:'mediumDate'}}</div><br>
         <div class="event-time">{{eventDetails.StartTime}} - {{eventDetails.EndTime}}</div><br>
         <div class="direction-icon-wrapper">
          <img src="../../../assets/imgs/direction-ico.png" class="direction-icon">
         </div>
       </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="background-color:#ebebeb;">
    <ion-col>
      <strong>
        <u class="value-participents">Participants ({{eventDetails.Participants.length}})</u>
      </strong>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item *ngFor="let items of eventDetails.Participants">
      <ion-grid>
      <ion-row>
        <ion-col size="4" style="align-self: center;">
          <div class="user-short-name-wrapper">
            <div class="user-short-name">{{getLetterOf(items.fullName)}}</div>
          </div>
        </ion-col>
        <ion-col size="6" style="align-self: center;">
          <ion-row style="color:#7a7a7c;font-size: 1.5rem;">{{items.fullName}}</ion-row>
          <ion-row style="color:#7a7a7c;font-size: 1.3rem;">{{items.designation}}</ion-row>
          <ion-row style="color:#7a7a7c;font-size: 1.2rem;">{{items.LOB}}</ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-item>
  </ion-list>
   
</ion-content>
