@font-face {
    font-family: 'Monserrat-bold';
    font-style: bold;
    font-weight: bold;
    src: url('../src/assets/fonts/Montserrat/montserrat_bold.ttf');
}

@font-face {
    font-family: 'Monserrat-medium';
    font-style: medium;
    font-weight: medium;
    src: url('../src/assets/fonts/Montserrat/montserrat_medium.ttf');
}

@font-face {
    font-family: 'Monserrat';
    font-style: regular;
    font-weight: regular;
    src: url('../src/assets/fonts/Montserrat/montserrat_regular.ttf');
}

@font-face {
    font-family: 'Monserrat-semibold';
    font-style: semibold;
    font-weight: semibold;
    src: url('../src/assets/fonts/Montserrat/montserrat_semibold.ttf');
}



 