<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" swipeGesture="false">
      <ion-content>
        <ion-list>

          <ion-item>
            <ion-avatar item-start>
              <img src="../assets/imgs/avatar.png">
            </ion-avatar>
            <ion-grid>
              <ion-row>
                <ion-list-header>Inbox</ion-list-header>
              </ion-row>
              <ion-row>
                <ion-note>hi@ionicframework.com</ion-note>
              </ion-row>
            </ion-grid>       
          </ion-item>
          <!-- <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <img src="{{p.icon}}" class="menu-title-icons">
              <ion-label class="menu-title">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
