
.list-item-card {
    background: white;
    border: 5px;
    padding: 7px;
}

.card-grid {
    padding: 0px;
}

.col-app-icon {
    padding: 5px;
    text-align: start;
}

.img-app-icon {
    width: 70px;
    height: 70px;
    border-radius: 80px;
    border: solid 2px #fff;
}

.col-requestor-info {
    padding: 5px;
    text-align: start;
}
.label-requester-name {
    font-family: 'Monserrat-semibold';
    font-size: 12px;
    color: #282A2B;
}

.label-requester-info {
    font-size: 9px;
    color: #515557;
}