<ion-header>
  <ion-toolbar>
    <ion-title>Visitor Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #EDF2FB">

  <ion-card class="list-item-card" (click)="funItemClickEvent(item)">
    <ion-grid class="card-grid">
      <ion-row>

        <ion-col size="3">
          <img src="test" class="img-app-icon" onerror="this.src='../../../assets/imgs/avatar.png'">
        </ion-col>
        <ion-col size="9">
          <div class="text-left item-text-wrap">
            <span>Utkarsh Joshi</span>
          </div>
          <div style="color: #7a7a7c;font-size:68%;line-height: 1.3em;" class="text-left item-text-wrap">
            <span>Designation</span>
          </div>
          <div style="color: #7a7a7c;" class="text-left item-text-wrap">
            <p style="font-size:55%;white-space:normal;padding-top:8px;line-height: normal;">Utkarsh is taking the KT of
              this application from nasib. Utkarsh is
              taking the KT of this application from nasib. Utkarsh is taking the KT of this application from nasib.
              Utkarsh is taking the KT of this application from nasib. Utkarsh is taking the KT of this application from
              nasib.</p>
          </div>
        </ion-col>


      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>