.newbackgroundcolor {
    --background: #3c3c41;
    background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
    color: #fff;
    border-color: #111;
    //--background: linear-gradient(to right, #0056ec, #1157ec, #1b58ed, #2359ed, #295aee, #325bef, #395bef, #405cf0, #495df0, #525ef1, #595ff1, #6060f1);
  }
.list-item-card {
    background: white;
    border: 5px;
    padding: 7px;
}

.card-grid {
    padding: 0px;
}

.col-app-icon {
    padding: 5px;
    text-align: start;
}

.img-app-icon {
    width: 70px;
    height: 70px;
    border-radius: 80px;
    border: solid 2px #fff;
}

.col-requestor-info {
    padding: 5px;
    text-align: start;
}
.label-requester-name {
    font-family: 'Monserrat-semibold';
    font-size: 12px;
    color: #282A2B;
}

.label-requester-info {
    font-size: 9px;
    color: #515557;
}

.text-description{
    color: #7a7a7c;
    margin-top: 4px;
    font-size: 8px;
    line-height: 10px;
    max-height: 20px;
    overflow: hidden;
    display: flex;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
}