<ion-header>
  <ion-toolbar class="newbackgroundcolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="lable-title">
      Agenda for Jan 16
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="newbackgroundcolor">
    <ion-grid>
      <ion-row>
        <ion-col size="3" align-self-center  style="text-align: center;padding-right: 5%;">TIME</ion-col>
        <ion-col size="6" align-self-center>DESCRIPTIONS</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-grid>
    <ion-row>
      <ion-col size="3" style="text-align: center;">
        <img src="../../../assets/imgs/time-ico.png" style="width:28px;height:auto;"/>
      </ion-col>
      <ion-col size="6" align-self-center style="text-align: left; vertical-align: -webkit-baseline-middle;">
       <span>Dinner with Utkarsh</span><br>
       <span>Venue : <span>dsdfsdfsdfsdf</span></span>
      </ion-col>
      <ion-col size="3" class="imageBit" style="text-align: center;">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" align-self-center style="text-align: center;"> 18:00 - 22:00 </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>