.newbackgroundcolor {
    --background: #3c3c41;
    background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
    color: #fff;
    border-color: #111;
    //--background: linear-gradient(to right, #0056ec, #1157ec, #1b58ed, #2359ed, #295aee, #325bef, #395bef, #405cf0, #495df0, #525ef1, #595ff1, #6060f1);
  }
  .iconMenu {
    width: 24px;
    height: 24px;
    color: white;
    font-size: 1.7rem;
    font-family: 'Monserrat-medium';
  }
  
  .homeTitle {
    color: white;
    font-family: 'Monserrat-medium';
  }

.lable-sub-title {
    font-size: 12px;
    color: white;
    font-family: 'Monserrat-medium';
  }
 .date-wrapper {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: #f08233;
  border-radius: 50%
}
.date{
  color:white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.month-year{
   color: black;
   font-size: 1.2rem;
  //  position: fixed;
  //  bottom: 10%;
}
.arrow-forward{
  font-size: 17px;
  top: 50%;
  position: absolute;
  /* right: 25%; */
  transform: translate(-50%, -50%);
}
.visit-details-label{
  font-size: 1.5 rem;
  text-align: right;
  top: 50%;
  position: absolute;
  transform: translate(7%, -50%);
 
}
.col-arrow-forward{
  text-align: right;
}
.date-month-wrapper{
margin-top:5px;
margin-left: 5px;
}
.list-visits{
  margin: -1px 0 32px 0;
}
.section {
  position: absolute; 
  left: 0; 
  right: 0;
 }

.slider-bg {
  background: #f08233;
  height: 40%;
}
.slider-imgs{
width: 62px;
height: 62px;
}
.slider-imgs-label{
  font-size: 1.7rem;
  color:white;
}

.slider-bg::before {
  background: url('../../../assets/imgs/org-bg.png') no-repeat center top;
  position: relative;
  top: -29px;
  content: '';
  display: inline-block;
  width: 100%;
  height: 30px;
  background-size: 100% 100%;
}