<ion-header>
  <ion-toolbar class="newbackgroundcolor" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button>
        <!-- <img src='../../assets/imgs/ic_menu.png' class="iconMenu"> -->
        <ion-icon name="reorder-three" class="iconMenu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="lable-sub-title">
      Home
    </ion-title>
   
  </ion-toolbar>
  <ion-toolbar class="newbackgroundcolor" mode="ios">
    <ion-title class="lable-sub-title">Visit Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
